<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <style>
      a {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Todo list</h1>
      <form action="/" method="POST" autocomplete="off">
        <input
          type="text"
          placeholder="Add Todo..."
          name="todoValue"
          required
        />
        <button type="submit">Add</button>
      </form>
      <% if (data) {%> <% data.forEach(todoValue=>{%>
      <div class="todo_container">
        <div class="todo_value"><%= todoValue.todo %></div>
        <div><a class="todo_delete <%= todoValue.id %>">Delete</a></div>
      </div>
      <% })%> <% } %>
    </div>
    <script>
      const deleteButton = document.querySelectorAll(".todo_delete");
      deleteButton.forEach((button, i) => {
        button.addEventListener("click", () => {
          const endPoint = `/${button.classList[1]}`;
          fetch(endPoint, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((res) => {
                if (res.success) location.reload();
            });
        });
      });
    </script>
  </body>
</html>
